#container{
    display: flex;
}
#sidebar{
    background-color: rgb(97, 107, 107);
    flex: 1;
}
#searchbar{
   
    margin-left: 25px;

}
h2{
    margin-top: 50px;
    margin-left: 25px;
    color: black;
}
#main{
    flex: 5;
}
#content{
    display: flex;
    height:450px ;

}

#img_div{
    height: 400px;
    width: 600px;
}
#img{
    height: 390px;
    width: 590px;
}